ion-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  
ion-toolbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  ion-title, p {
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }

ion-content {
    --background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #ffffff;
}

form {
    width: 100%;
    max-width: 350px;
    text-align: center;
    margin: 0 auto;
}
  
.app-logo {
    display: block;
    margin: 0 auto 20px;
    width: 150px;
    height: auto;
    filter: brightness(0) invert(1);
}
  
ion-item {
    --background: #262626;
    --color: #ffffff;
    border-radius: 5px;
    margin-bottom: 15px;
}
  
ion-input {
    font-size: 0.95rem;
    color: #ffffff;
    --placeholder-color: #999999;
}
  
ion-button {
    --background: linear-gradient(135deg, #e9ba03, #0e7c51);
    --background: linear-gradient(135deg, #e9ba03, #0e7c51);
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 10px;
    text-transform: capitalize;
}
  
ion-button:disabled {
    --background: linear-gradient(135deg, #e9ba03, #0e7c51);
}
  
div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    text-align: center; 
    margin-top: 16px; 
    color: white
}
  