ion-content {
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

.app-logo {
  height: 50px;
  display: block;
  margin: 10px auto;
}


.user-avatar {
  width: 30px;
  height: 30px;
}

.image-post {
  margin: 0 auto;
  display: block;
}
