ion-content {
  --background: linear-gradient(135deg, #ffecd2, #fcb69f); /* Colores cálidos y acogedores */
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

.app-logo {
  height: 50px;
  display: block;
  margin: 10px auto;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slide-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  border-radius: 10px;
  animation: fade-in 1.2s ease-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.slide-text {
  position: absolute;
  bottom: 50px;
  width: 90%;
  background: rgba(0, 0, 0, 0.6);
  padding: 15px;
  border-radius: 15px;
  text-align: center;
  color: #ffffff;
  animation: slide-up 1s ease-in-out;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Sombra para resaltar imágenes */
}

@keyframes slide-up {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-title {
  font-size: 2em;
  margin-bottom: 10px;
  font-weight: bold;
  color: #ffffff;
}

.slide-description {
  font-size: 1.2em;
  color: #d1d5db;
}

swiper-container {
  --swiper-navigation-color: #ffffff;
  --swiper-pagination-color: #ffffff;
}
