<ion-header>
  <ion-toolbar>
    <ion-title>
        <img src="assets/image/logo.png" alt="RecetApp Logo" class="app-logo">
    </ion-title>
    <ion-buttons>
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-container">
    <h3>{{user_data.name}} {{user_data.last_name}}</h3>
    <ion-avatar (click) = "presentPhotoOptions()">
      <img class ="image-post" [src] = "user_data.image ? user_data.image : 'assets/image/default-avatar.jpg'" class="image-post"/>
    </ion-avatar>
    <p class="profile-info">Usuario: {{user_data.username}}</p>
    <div class="profile-stats">
      <div>
        <p>{{user_data.followers.length}}</p>
        <span>Seguidores</span>
      </div>
      <div>
        <p>{{user_data.followees.length}}</p>
        <span>Siguiendo</span>
      </div>
    </div>
      <ion-fab vertical="bottom" horizontal ="end" slot="fixed">
    <ion-fab-button (click) ="editInfo()">
        <ion-icon name ="create-outline"></ion-icon>
    </ion-fab-button>
</ion-fab>
  </div>
</ion-content>
